/* .transaction-container {
    margin-top: 10x;
  } */
  
  .transaction-btn-container {
    display: flex;
    justify-content: end;
    margin: 20px 0;
  }
  
  .table-image {
    width: 80px;
    height: 85px;
    object-fit: cover;
    border-radius: 5px;
  }